

/* Laptops and Large Devices (769px to 1200px) */
/* @media only screen and (min-width: 769px) and (max-width: 1200px) {
} */
    
/* Large Desktop Screens (1201px or more) */
@media only screen and (min-width: 769px) {

    header {
        display: flex;
        flex-direction: row;

        height: 50px;
        justify-content: space-between;
        align-items: center;

        padding: 0 1em;
        box-shadow: inset 0px -1px 1px var(--accent-color-three);
        background-color: var(--primary-deep);
    }

    .branding {
        cursor: pointer;
    }

    .main-menu {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-menu {
        font-weight: 500;
        font-size: 18px;
    }

    .desktop-menu ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .desktop-menu ul li {
        list-style: none;
    }

    .desktop-menu ul a {
        text-decoration: none;
        color: var(--sec-color);
    }

    .desktop-cart li {
        list-style: none;
    }

    .desktop-cart ul button {
        color: var(--sec-color);
        background: none;

        border: none;
        outline: none;

        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;

        cursor: pointer;
    }

    .cart {
        position: absolute;

        top: 0;
        right: 0;

        width: 0%;
        height: 100%;

        border-left: 2px solid var(--sec-color);
        
        background-color: var(--primary-color);

        z-index: 5;

        position: fixed;
        overflow: scroll;

        /* display: none; */
        transition: 0.3s ease-in-out;
    }

    .cart .cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: .5em;
        border-bottom: 2px solid var(--sec-color);

        font-weight: 500;
        font-size: 1.2em;
    }

    .cart-header button {
        font-weight: 500;
        font-size: 1.5em;

        background: none;

        border: none;
        outline: none;

        cursor: pointer;
    }

    .cart-content {
        padding: .5em;

        font-weight: 500;
        font-size: 1.2em;
    }

    .page-heading {
        padding: 1em;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        margin: 10px;
    }

    .product {
        transition: 0.3s;
        cursor: pointer;

        border: 1px solid var(--accent-background);
        border-radius: 10px 10px 0 0;
    }

    .product a {
        color: var(--sec-color);

        text-decoration: none;
    }

    .product:hover, .product:hover a {
        color: var(--accent-color);
    }

    .product-image {
        padding: 1em;
        overflow: hidden;

        background-color: var(--primary-deep);
        border-radius: 10px 10px 0 0;
    }

    .product-image img {
        transform-origin: top;

    }

    .product-image:hover img {
        transform: scale(150%);
    }

    .product-info {
        padding: .5em;
        font-weight: 600;

        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        /* gap: .5em; */

        background-color: var(--primary-color);
    }

    footer {
        bottom: 0;
        width: 100%;

        padding: 1em;
        
        color: var(--sec-color);
        background-color: var(--primary-deep);

        box-shadow: inset 0px -1px 1px var(--accent-color-three);
    }

    footer form {
        display: flex;
        flex-direction: column;

        padding: 1em 0;
    }

    footer p{
        font-size: large;
        font-weight: 500;
    }

    footer form input[type=email] {
        background: none;
        border: none;
        outline: none;

        width: 30%;
        padding: .3em 0;

        text-align: left;
        font-family: 'Inter', sans-serif;
        font-size: large;
        font-weight: 500;
        color: var(--sec-color);

        box-shadow: inset 0px -2px 0px var(--sec-color);
    }

    footer form input[type=email]:is(:focus) {
        background-color: var(--primary-color);
    }

    footer form input[type=email]::placeholder {
        font-family: 'Inter', sans-serif;
        font-size: large;
        font-weight: 500;
        color: var(--sec-color);
    }

    footer form button[type=submit] {
        display: flex;
        align-items: center;

        background: none;
        border: none;
        outline: none;

        width: fit-content;
        padding: .3em 0;

        text-align: left;
        font-family: 'Inter', sans-serif;
        font-size: large;
        font-weight: 500;
        color: var(--sec-color);

        box-shadow: inset 0px -2px 0px var(--sec-color);
        cursor: pointer;
    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        bottom: 0;
        width: 100%;

        padding: 1em;
        font-weight: 500;
        
        color: var(--sec-color);
        background-color: var(--primary-background);
    }

    .footer-bottom a {
        text-decoration: none;

        color: var(--sec-color);
    }

    .footer-bottom .socials {
        display: flex;
        gap: 1em;
    }

    .footer-bottom .socials a {
        font-weight: 500;
        font-size: 1.5em;

    }
}