@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f3f6f9;
    --primary-deep: #ffffff;
    --sec-color: #1a2027;
    --accent-color: #017921;
    --accent-background: #e0e3e7;
    --accent-color-two: #f1c40f;
    --accent-color-three: #e7ebf0;
}
  
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
}



