@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f4f4f4;
    --primary-deep: #e0e0e0;
    --sec-color: #000000;
    --accent-color: #f80982;
    --accent-background: #f39c12;
    --accent-color-two: #f1c40f;
    --accent-color-three: #48fe04;
}
  
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
}



